.buttonContainer {
    text-align: center;
}

.button {
    background-color: gray;
    cursor: pointer;
    font-size: 16px;
}

.message {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
